ALIBABA_API_KEY=
ALIBABA_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
DASHSCOPE_API_KEY=
DASHSCOPE_MULTIMODAL_EMBED_MODEL=qwen3-vl-embedding
ZHIPU_API_KEY=
ZHIPU_BASE_URL=https://open.bigapi.cn/v1

MILVUS_URI=http://localhost:19530
MILVUS_USER=root
MILVUS_PASSWORD=Milvus
MILVUS_DB_NAME=recommendation_system

RECSYS_LLM_MODEL=qwen-plus
RECSYS_LLM_TEMPERATURE=0.3
RECSYS_MULTIMODAL_LLM_MODEL=glm-4v-flash
RECSYS_MULTIMODAL_LLM_TEMPERATURE=0.3
RECSYS_GLM4_FLASH_MODEL=glm-4-flash-250414
RECSYS_GLM4_FLASH_TEMPERATURE=0.3
RECSYS_TEXT_DEVICE=cpu
RECSYS_TEXT_MODEL_PATH=/path/to/Qwen3-Embedding-0.6B
RECSYS_EMBED_BATCH_SIZE=16
RECSYS_USER_NAME=
TEXT_EMBED_DIM=1024
MULTIMODAL_EMBED_DIM=2560
